{% trans_default_domain "SplashWidgetsBundle" %}   

{% macro Text( Text, Options ) %}
        {% if Options.AllowHtml %}
            {{ Text | raw  }}
        {% else %}
            {{ Text  }}
        {% endif %}
{% endmacro %}

{% macro SparkLine( Type, Options, Values ) %}
    {% if Values is not empty %}                
        {% set Labels =  '["' ~ Values | keys | join('","') ~ '"]' %}                        
        <div 
            class="sparkline"
            style="display:none"
            data-sparkline-type="{{ Type | default("bar") }}" 
            {% for Name, Value in Options %} 
                data-sparkline-{{Name}}="{{Value}}"
            {% endfor %}
            data-sparkline-labels="{{Labels}}"
            >
            {% for Value in Values %} 
                {{Value}}{% if not loop.last %},{% endif %}
            {% endfor %} 
        </div>  
    {% endif %}    
    
{% endmacro %}

{% macro Progress( Options, Values ) %}
    {% spaceless %}
    <div class="progress" style="height: {{Options.barHeight|default("20")}}px;">
        {% for Name, Value in Values %}
            <div class="progress-bar {{ Options.class|default("") }} {% if Options.classes|length|default(0) %}{{ Options.classes[loop.index0 % (Options.classes|length)] }}{% endif %}"
                 role="progressbar" aria-valuenow="{{Value}}" aria-valuemin="0" aria-valuemax="100"
                 style="width: {{Value}}%;{% if Options.colors|length|default(0) %}background-color: {{ Options.colors[loop.index0 % (Options.colors|length)] }};{% endif %}"
            >
                {{Name}}
            </div>
        {% endfor %}
    </div>

    {% if Options.legend|default({})|length %}
        <ul class="p-2 mb-0">
            {% for Value in Options.legend|default({}) %}
                <li class="" style="display:inline;">
                    <span
                        class="badge badge-pill {% if Options.classes|length|default(0) %}{{ Options.classes[loop.index0 % (Options.classes|length)] }}{% endif %}"
                        style="{% if Options.colors|length|default(0) %}background-color: {{ Options.colors[loop.index0 % (Options.colors|length)] }};{% endif %}"
                    >&nbsp;</span>
                    {{Value}}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    {% endspaceless %}
{% endmacro %}

{% macro MorrisChart( Type, DataSet, Xkey, Ykeys, Labels, Options ) %}
    {% if DataSet is not empty %}                
        <div 
            class="morris-chart"
            style="height:200px"
            id="{{ random() }}"
            data-morris-type='{{ Type }}'
            data-morris-dataset='{{ DataSet | json_encode() }}'
            data-morris-xkey='{{ Xkey }}'
            data-morris-ykeys='{{ Ykeys | json_encode() }}'
            data-morris-labels='{{ Labels | json_encode() }}'
            data-morris-options='{{ Options | json_encode() }}'
            >
        </div>  
    {% endif %}   
{% endmacro %}

{% macro MorrisDonut( DataSet, Options ) %}
    {% if DataSet is not empty %}                
        <div 
            class="morris-donut"
            style="height:200px"
            id="{{ random() }}"
            data-morris-dataset='{{ DataSet | json_encode() }}'
            data-morris-options='{{ Options | json_encode() }}'
            >
        </div>  
    {% endif %}    
{% endmacro %}

